/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    width: 100%;
    min-height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;

    /* border: 1px solid red; */
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    min-height: 60px;
}

.header-dx{
    margin-left: 15px;
    /* border: 1px green solid; */
    max-width: 100%;
}

.header-sx{
    margin-right: 15px;
    /* border: 1px green solid; */
    max-width: 100%;
}

.lista-banner{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: black;
}

.lista-banner a{
    text-decoration: none;
    color: inherit;
}

.bottone{
    background-color: #0061FE;
    padding: 0.4rem 1rem;
    text-align: center;
    /* display: inline-block; */
    color: white;
}

.bottone-grigio{
    border: 1px solid darkgrey;
    padding: 0.4rem 1rem;
    text-align: center;
    color: darkgrey;
    display: inline-block;
}

.hero{
    background-color: #B4D0E6;
    width: 100%;
    min-height: 400px;
    position: relative;
}

.banda-hero{
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.big-container{
    margin: 0 auto;
    z-index: 10;
    max-width: 1100px;
    width: 80%;
    min-height: 100px;
    position: relative;
    /* background-color: aquamarine; */
}

.lil-container{
    margin: 0 auto;
    max-width: 830px;
    width: 68%;
    background-color: lightcoral;
}

h1{
    font-size: 66px;
    padding: 80px 0px 20px 0px;
}

.mt20{
    margin-top: 20px;
}

.mt100{
    margin-top: 100px;
}

.hero-flex{
    display: flex;
    width: 100%;
    min-height: 400px;
}

.hero-item-A{
    flex-basis:40%;
    /* border: 1px solid black; */
}

.hero-item-B{
    flex-basis: 60%;
    /* border: 1px solid pink; */
}

.jumbo {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/jumbo.png);
}

.default{
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

.fatturazione{
    display: flex;
    gap: 15px;
}

.circle{
    background-color: white;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    border: 1px solid darkgray;
    border-radius: 10px;
    cursor: pointer;
    z-index: 5;

}

.circle.spuntato{
    background-color: white;
    border: 2.5px solid #0061FE;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.circle:checked{
    z-index: 0;
}

.circle.spuntato:checked{
    z-index: 0;
}

.cerchio{
    display: inline-block;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;

    border: 2px dotted purple;
    background-color: lightgoldenrodyellow;
}

.piani{
    width: calc(95%/3);
    border: 1px solid lightgrey;
}

.piani-titolo{
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.piani-corpo{
    padding: 15px 0px;
    width: 80%;
    margin: 0 auto;
}

.grigio{
    padding-bottom: 25px;
    color: lightgrey;
}

.lista-piani{
    list-style: none;
    margin-top: 35px;
}

.corpo-enterprise{
    margin: 35px 0px 10px;
}

.elemento-lista{
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.prezzo{
    font-weight: 600;
    margin:10px 0px 5px 0px;
}

.piani-corpo hr{
    color: lightgrey;
    width: 50px;
    margin: 30px 0px;
}

.salienti{
    margin-bottom: 20px;
    font-weight: 600;
}

.check{
    color: #0061FE;
}

.piani.enterprise{
    width: 100%;
    min-height: 150px;
}

.flex-enterprise{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex-enterprise .piani-corpo{
    padding: 20px;
    flex-basis: 60%;
}

.enterprise-bottone{
    padding: 20px;
    flex-basis: 40%;
    text-align: end;
}

.flex.entra{
    justify-content: center;

    border: 2px dotted purple;
    background-color: lightgoldenrodyellow;
}

.entra-item-A{
    flex-basis: 55%;
    min-height: 300px;
    background-image: url(../img/partner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.entra-item-B{
    flex-basis: 45%;
    min-height: 100px;
    padding: 35px 15px 0px;

    background-color: fuchsia;
}

.flex.griglia{
    flex-wrap: wrap;
    row-gap: 20px;
}

.card{
    width: calc(95%/3);
    background-color: deeppink;
    border: 1px dashed white;
}

footer{
    background-color: black;
    color: white;
    min-height: 300px;
}

footer a{
    color: white;
}

.footer-item{
    width: calc(95%/5);
    background-color: orange;
}

h4{
    margin: 15px 0px;
}


h5{
    margin: 15px 0px;
    font-size: 12px;
}

.footer-item li{
    margin-bottom: 10px;
}

.footer-item ul{
    list-style: none;
}

footer hr{
    width: 120px;
    color: white;
}